footer{
    background: #393939;
    color: #f1f1f1;
    padding: 2rem 1rem;
}footer .column{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

footer.bottom{
    background: #373737;
    text-align: center;
    padding: 5px;
    font-size: .9em;
}

footer .column .md3 a{
    text-decoration: none;
    color: #fff;
    opacity: .7;
    display: block;
    padding-left: .3rem;
    text-decoration: none;
}footer .column .md3 a:hover{
    opacity: 1;
}